*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.container {
    padding: 0px 0.3rem;
    margin-left: auto;
    margin-right: auto;
}

section {
    overflow: auto;
}

section .container {
    margin: 3.125rem auto;
    padding: 2.5rem 0.3rem;
    text-align: center;
}

section .section-description {
    margin-bottom: 1.56rem;
}

section .section-description h2 {
    font-size: var(--font-size-normal-minus);
    font-weight: 400;
    font-family: var(--font-inter);
    color: var(--tertiary-color);
}

section .section-description p {
    font-size: var(--font-size-section-description);
    font-weight: 400;
    font-family: var(--font-amatic);
    color: var(--main-color);
}

section .section-description p span {
    color: var(--icon-color);
}

/* Animation Values Variable */
:root {
    --transition-main: all 0.4s ease-in-out;
}

/* Variables For Font Family & Font Sizes */
:root {
    --font-open-sans: 'Open Sans', sans-serif;
    --font-amatic: 'Amatic SC', cursive;
    --font-inter: 'Inter', sans-serif;
    --font-size-logo: 1.875rem;
    --font-size-normal: 1rem;
    --font-size-normal-minus: 0.875rem;
    --font-size-mode: 1.563rem;
    --font-size-site-heading: 4rem;
    --font-size-section-description: 3.125rem;
    --font-size-section-title: 1.25rem;
    --font-size-section-content: 0.938rem;
}

/* Variables For Website Color Light Mode */
:root {
    --main-color: #212529;
    --secondary-color: #37373f;
    --tertiary-color: #7f7f90;
    --section-color: #eee;
    --selection-color: #fff;
    --background-hover-color: #E61414;
    --icon-hue: 0;
    --icon-saturation: 84%;
    --icon-lightness: 44%;
    --icon-color: hsl(var(--icon-hue), var(--icon-saturation), var(--icon-lightness));
    --light-mode-hue: 0;
    --light-mode-saturation: 0%;
    --light-mode-lightness: 100%;
    --light-mode: hsl(var(--light-mode-hue), var(--light-mode-saturation), var(--light-mode-lightness));
}

/* Dark Mode */
:root:has(#mode:checked) {
    --icon-hue: 35;
    --icon-saturation: 72%;
    --icon-lightness: 44%;
    --light-mode-hue: 0;
    --light-mode-saturation: 0%;
    --light-mode-lightness: 9%;
    --main-color: #fff;
    --secondary-color: #fff;
    --tertiary-color: #9f9f9f;
    --section-color: #252525;
    --selection-color: #171717;
    --background-hover-color: #D78C23;
}

body:has(#mode:checked) {
    background-color: #202020;
}

body:has(#home:target) nav ul li:nth-child(1) a::after {
    width: 100%;
}

body:has(#home:target) nav ul li:nth-child(1) a {
    color: var(--main-color);
}

body:has(#chefs:target) nav ul li:nth-child(2) a::after {
    width: 100%;
}

body:has(#chefs:target) nav ul li:nth-child(1) a::after {
    width: 0%;
}

body:has(#chefs:target) nav ul li:nth-child(1) a {
    color: var(--tertiary-color);
}

body:has(#chefs:target) nav ul li:nth-child(2) a {
    color: var(--main-color);
}

body:has(#gallery:target) nav ul li:nth-child(3) a::after {
    width: 100%;
}

body:has(#gallery:target) nav ul li:nth-child(3) a {
    color: var(--main-color);
}

body:has(#gallery:target) nav ul li:nth-child(1) a::after {
    width: 0%;
}

body:has(#gallery:target) nav ul li:nth-child(1) a {
    color: var(--tertiary-color);
}

body:has(#contact:target) nav ul li:nth-child(4) a::after {
    width: 100%;
}

body:has(#contact:target) nav ul li:nth-child(4) a {
    color: var(--main-color);
}

body:has(#contact:target) nav ul li:nth-child(1) a::after {
    width: 0%;
}

body:has(#contact:target) nav ul li:nth-child(1) a {
    color: var(--tertiary-color);
}

body::-webkit-scrollbar {
    background-color: #eee;
    width: 0.75rem;
    box-shadow: 0px 0px 1.25rem #0003 inset;
}

body::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 0.75rem;
    box-shadow: 0px 0px 0.625rem #eeeeee8c inset;
}

/* Selection Styling */
::selection {
    background-color: hsl(var(--icon-hue), var(--icon-saturation), var(--icon-lightness), 0.7);
    color: var(--selection-color);
}

/* start Nav Section */
nav {
    position: fixed;
    z-index: 9999;
    left: 0;
    right: 0;
    background-color: var(--light-mode);
    box-shadow: 0px 0px 0.875rem 0px #0000001b;
}

nav .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
}

nav .logo a {
    font-family: var(--font-open-sans);
    font-size: var(--font-size-logo);
    font-weight: 700;
    color: var(--main-color);
}

nav .logo a::after {
    content: ".";
    color: var(--icon-color);
    font-size: var(--font-size-logo);
}

nav ul {
    display: flex;
    gap: 2rem;
}

nav ul li a {
    color: var(--tertiary-color);
    font-family: var(--font-open-sans);
    font-size: var(--font-size-normal-plus);
    font-weight: 600;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
    position: relative;
    transition: var(--transition-main);
}

nav ul li:nth-child(1) a {
    color: var(--main-color);
}

nav ul li a:hover {
    color: var(--main-color) !important;
}

nav ul li a::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 0%;
    height: 0.13rem;
    left: 0;
    background-color: var(--icon-color);
    transition: var(--transition-main);
}

nav ul li:nth-child(1) a::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 100%;
    height: 0.125rem;
    left: 0;
    background-color: var(--icon-color);
    transition: var(--transition-main);
}

nav ul a:hover::after {
    width: 100% !important;
}

nav .site-mode .light-sun {
    display: none;
    color: var(--main-color);
    font-size: var(--font-size-mode);
}

nav .site-mode input {
    display: none;
}

nav .site-mode i.bars {
    font-size: var(--font-size-mode);
    color: var(--main-color);
    margin-left: 1.25rem;
    display: none;
}

nav .site-mode .dark-moon {
    font-size: var(--font-size-mode);
    color: var(--main-color);
}

body:has(#mode:checked) nav .site-mode .light-sun {
    display: inline;
}

body:has(#mode:checked) nav .site-mode .dark-moon {
    display: none;
}

/* End Nav Section */

/* Start Home Section */
header {
    display: flex;
    align-items: center;
    background-color: var(--section-color);
    height: 100vh;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5.7rem;
    padding: 2.5rem 0.3rem;
}

header .home-content {
    width: 40%;
}

header .home-content h2 {
    font-family: var(--font-amatic);
    font-size: var(--font-size-site-heading);
    color: var(--secondary-color);
}

header .home-content p {
    font-family: var(--font-open-sans);
    margin: 1.25rem 0rem;
    line-height: 1.563rem;
    color: var(--tertiary-color);
}

header .home-content .header-buttons {
    display: flex;
    gap: 2.5rem;
    align-items: center;
}

header .home-content a:nth-of-type(1) {
    display: inline-block;
    color: var(--section-color);
    background-color: var(--icon-color);
    padding: 0.75rem 1.875rem;
    border-radius: 0 1.875rem 1.875rem 1.875rem;
    transition: var(--transition-main);
    font-family: var(--font-open-sans);
    font-size: var(--font-size-normal);
}

header .home-content a:nth-of-type(1):hover {
    background-color: var(--background-hover-color);
}

header .home-content a:nth-of-type(2) {
    font-family: var(--font-open-sans);
    font-size: var(--font-size-normal);
    color: var(--main-color);
    font-weight: 600;
    transition: var(--transition-main);
    display: flex;
    gap: 0.625rem;
    align-items: center;
}

header .home-content a:nth-of-type(2):hover {
    color: var(--icon-color);
}

header .home-content a:nth-of-type(2) .icon-background {
    background: linear-gradient(90deg, var(--icon-color) 0%, var(--icon-color) 50%, transparent 50%, transparent 100%);
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .home-content a:nth-of-type(2) i {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-mode);
    height: 70%;
    width: 70%;
    border-radius: 50%;
}

header .home-image {
    width: 40%;
    filter: drop-shadow(5px 5px 10px #151419);
}

header .home-image:hover {
    animation: shake 0.4s infinite;
}

@keyframes shake {
    0% {
        transform: translate(0) rotate(0deg);
    }

    20% {
        transform: translate(-2px, 2px) rotate(-1deg);
    }

    40% {
        transform: translate(-2px, -2px) rotate(0deg);
    }

    60% {
        transform: translate(2px, 2px) rotate(1deg);
    }

    80% {
        transform: translate(2px, -2px) rotate(0deg);
    }

    100% {
        transform: translate(0) rotate(-1deg);
    }
}

/* End Home Section */

/* Start Chefs Section */
.chefs .container {
    padding: 2.5rem 0.313rem;
}

.chefs .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 1.25rem 0rem;
}

.chefs .content .card {
    width: 31.5%;
    border-radius: 0.625rem;
    overflow: hidden;
    background-color: var(--selection-color);
    box-shadow: 3px 3px 15px 0px rgba(0, 0, 0, 0.1);
    transition: var(--transition-main);
    position: relative;
}

.chefs .content .card:hover {
    scale: 1.07;
}

.chefs .content .card .social-icons {
    background-color: #ffffff4d;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    position: absolute;
    top: 1.875rem;
    right: -3rem;
    z-index: 10;
    transition: right 0.4s ease-in-out;
}

.chefs .content .card:hover .social-icons {
    right: 0.625rem;
    transition: right 0.4s 0.4s ease-in-out;
}

.chefs .content .card .social-icons li {
    padding: 0.625rem 0.3125rem;
}

.chefs .content .card .social-icons li a {
    color: #37373f66;
    transition: var(--transition-main);
}

.chefs .content .card .social-icons li a:hover {
    color: #37373fe6;
}

.chefs .content .card .card-image {
    position: relative;
}

.chefs .content .card .card-image::after {
    content: "";
    position: absolute;
    background-image: url(../images/team-shape.svg);
    background-repeat: repeat-x;
    left: 0;
    right: 0;
    bottom: -1px;
    height: 3.75rem;
}

:has(#mode:checked) .chefs .content .card .card-image::after {
    background-image: url(../images/team-shape-dark.svg);
}

.chefs .content .card .card-content {
    padding: 1.563rem;
    padding-top: 0.625rem
}

.chefs .content .card .card-content h3 {
    color: var(--main-color);
    font-family: var(--font-inter);
    font-size: var(--font-size-section-title);
    font-weight: 700;
}

.chefs .content .card .card-content h4,
.chefs .content .card .card-content p {
    color: var(--tertiary-color);
    font-family: var(--font-open-sans);
    font-size: var(--font-size-normal-minus);
    font-weight: 400;
}

.chefs .content .card .card-content h4 {
    margin: 0.3rem 0rem 0.625rem;
}

.chefs .content .card .card-content p {
    font-style: italic;
}

/* End Chefs Section */
/* Start Gallery Section */
.gallery {
    background-color: var(--section-color);
}

.gallery .container {
    padding: 2.5rem 0.313rem;
}

.gallery .content {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    gap: 1.25rem;
    height: 72.8125rem;
}

.gallery .content .content-image {
    border: 4px solid #fff;
    position: relative;
    overflow: hidden;
    width: 31.8%;
}

.gallery .content .content-image .layer {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-flow: row wrap;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0.938rem;
    transition: var(--transition-main);
}

.gallery .content .content-image:hover .layer {
    top: 0;
}

.gallery .content .content-image .layer h2 {
    font-family: var(--font-inter);
    font-size: var(--font-size-mode);
    color: #fff;
    font-weight: 700;
}

.gallery .content .content-image .layer p {
    font-family: var(--font-open-sans);
    font-size: var(--font-size-normal);
    color: #ddd;
    font-weight: 400;
}

/* End Gallery Section */
/* Start Contact Section */
.contact .container {
    margin: 3.125rem auto;
    padding: 2.5rem 0.313rem;
}

.contact .mapouter iframe {
    width: 100%;
    height: 21.875rem;
}

.contact .info {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    row-gap: 20px;
    margin: 1.563rem 0rem;
    text-align: left;
}

.contact .info .card {
    width: 49%;
    background-color: hsl(var(--light-mode-hue), var(--light-mode-saturation), calc(var(--light-mode-lightness) - 4%));
    padding: 1.563rem;
    display: flex;
    align-items: center;
}

.contact .info .card .icon {
    min-width: 3.125rem;
    min-height: 3.125rem;
    border-radius: 50%;
    background-color: var(--icon-color);
    color: var(--light-mode);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.625rem;
}

.contact .info .card .icon i {
    font-size: 1.125rem;
}

.contact .info .card .details h3 {
    color: #7D7D7D;
    font-size: var(--font-size-section-title);
    font-family: var(--font-inter);
    font-weight: 700;
}

.contact .info .card .details p,
.contact .info .card .details p a {
    color: var(--main-color);
    font-size: var(--font-size-normal);
    font-family: var(--font-open-sans);
    font-weight: 400;
}

.contact .info .card .details p span {
    font-weight: 700;
}

.contact .form {
    background-color: var(--selection-color);
    box-shadow: 0 0 1.9rem #00000014;
}

.contact .form input,
.contact .form textarea {
    outline: none;
    color: #212529;
    font-family: var(--font-open-sans);
    font-weight: 400;
    font-size: var(--font-size-normal-minus);
    line-height: 1.5;
    padding: 0.938rem;
    border: 2px solid hsl(var(--light-mode-hue), calc(var(--light-mode-saturation) + 10%), calc(var(--light-mode-lightness) - 10%));
    transition: var(--transition-main);
}

.contact .form input:focus,
.contact .form textarea:focus {
    border-color: var(--icon-color);
}

.contact .form form {
    display: flex;
    justify-content: center;
    row-gap: 0.9375rem;
    flex-flow: row wrap;
    padding: 1.25rem;
}

.contact .form .row-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    row-gap: 0.9375rem;
}

.contact .form .row-1 input {
    width: 49%;
}

.contact .form .row-2,
.contact .form .row-3 {
    width: 100%;
}

.contact .form textarea {
    min-height: 9.375rem;
    max-height: 18.75rem;
    resize: none;
}

.contact .form .btn-submit {
    border: none;
    padding: 0.75rem 2.5rem;
    border-radius: 1.25rem;
    background-color: var(--icon-color);
    margin-top: 1.553rem;
    color: var(--selection-color);
    font-family: var(--font-open-sans);
    font-size: var(--font-size-normal);
    font-weight: 400;
    transition: var(--transition-main);
}

.contact .form .btn-submit:hover {
    background-color: var(--background-hover-color);
}

/* End Contact Section */
/* Start Footer Section */
.footer {
    background-image: linear-gradient(#0009, #0009), url(../images/textured-metal-background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    box-shadow: 0px -1px 5px #0007;
}

.footer .container {
    display: flex;
    flex-flow: row wrap;
    gap: 1.25rem;
    padding: 2.5rem 0.313rem;
    margin: auto;
}

.footer .container .col-1 {
    width: 24%;
}

.footer .container .col-1 .title {
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.footer .container .col-1 picture {
    width: 15%;
}

.footer .container .col-1 h2,
.footer .container .col-1 h2::after {
    font-family: var(--font-open-sans);
    font-weight: 700;
    font-size: var(--font-size-logo);
}

.footer .container .col-1 h2::after {
    content: ".";
    color: var(--icon-color);
}

.footer .container .col-1 p {
    margin: 0.625rem 0rem;
    font-family: var(--font-open-sans);
    font-weight: 400;
}

.footer .container .col-1 h3 {
    margin-bottom: 0.625rem;
    padding: 0.625rem;
    font-family: var(--font-inter);
    font-weight: 700;
    font-size: var(--font-size-section-title);
    text-align: center;
    border-bottom: 2px solid #5D5C5C;
}

.footer .container .col-1 .social-icons {
    padding: 0.625rem;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.footer .container .col-1 .social-icons a {
    color: #fff;
    font-size: 1.5rem;
}

.footer .container .col-2 {
    width: 48%;
}

.footer .container .col-2 h3 {
    font-family: var(--font-inter);
    font-size: var(--font-size-section-title);
    font-weight: 700;
}

.footer .container .col-2 p {
    font-family: var(--font-open-sans);
    font-weight: 400;
    margin: 0.625rem 0rem;
}

.footer .container .col-2 .subscribe {
    margin: 1.25rem 0rem;
    display: flex;
    gap: 5px;
    flex-flow: row wrap;
}

.footer .container .col-2 .subscribe input {
    padding: 0.625rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: var(--font-size-normal-minus);
    flex-grow: 1;
    outline: none;
}

.footer .container .col-2 .subscribe button {
    background-color: var(--icon-color);
    color: var(--selection-color);
    padding: 0.75rem;
    border: none;
    transition: var(--transition-main);
}

.footer .container .col-2 .subscribe button:hover {
    background-color: var(--background-hover-color);
}

.footer .container .col-2 ul {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin-top: 0.625rem;
}

.footer .container .col-2 ul li {
    width: calc(50% - 1.25rem);
    padding: 0.313rem;
    transition: var(--transition-main);
}

.footer .container .col-2 ul li:hover {
    transform: translateX(10px);
    background-color: #222;
}

.footer .container .col-2 ul li a {
    font-family: var(--font-open-sans);
    font-size: var(--font-size-normal);
    font-weight: 400;
    color: #fff;
}

.footer .container .col-2 ul li span {
    margin-right: 5px;
}

.footer .container .col-3 {
    width: 24%;
}

.footer .container .col-3 h3 {
    font-family: var(--font-inter);
    font-size: var(--font-size-section-title);
    font-weight: 700;
    margin-bottom: 0.625rem;
}

.footer .container .col-3 ul {
    display: flex;
    flex-flow: column wrap;
    gap: 0.625rem;
}

.footer .container .col-3 ul li {
    display: flex;
    flex-flow: row;
    align-items: center;
    font-family: var(--font-open-sans);
    font-weight: 400;
}

.footer .container .col-3 ul li a {
    font-family: var(--font-open-sans);
    font-weight: 400;
    color: #fff;
}

.footer .container .col-3 ul li span {
    text-align: center;
    min-width: 2.5rem;
    font-size: 1.375rem;
    color: var(--icon-color);
    margin-right: 0.313rem;
}

/* End Footer Section */